<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/icons/icon.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/fonts.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/carousel.css">
    <link rel="stylesheet" href="/css/bio.css">
    <link rel="stylesheet" href="/css/band.css">
    <link rel="stylesheet" href="/css/disc.css">
    <link rel="stylesheet" href="/css/album.css">
    <link rel="stylesheet" href="/css/footer.css">
    <title>{{mainTitle}}</title>
</head>

<body>
    {{>header}}

    <main>
        {{{body}}}
    </main>

    <a class="scroll-up-btn" id="scroll-up-btn" onclick="scrollUp()"><img src="/img/icons/right-up.svg"></a>

    <script>
        const scrollUpBtn = document.getElementById("scroll-up-btn");
        var upShow = false;
        var curH = 400;

        window.onscroll = function () { scrollFunction() };
        function scrollFunction() {
            if (document.documentElement.scrollTop >= curH || document.body.scrollTop >= curH) { showUpBtn(); }
            else { hideUpBtn(); }
        };

        function scrollUp() {
            scroll({ top: 0, behavior: "smooth" });
        }

        function showUpBtn() {
            if (!upShow) {
                upShow = true;
                scrollUpBtn.style.display = "block";
                window.setTimeout(function () {
                    scrollUpBtn.style.opacity = 0.4;
                }, 100);
            }
        }

        function hideUpBtn() {
            if (upShow) {
                upShow = false;
                scrollUpBtn.style.opacity = null;
                window.setTimeout(function () {
                    scrollUpBtn.style.display = null;
                }, 100);
            }
        }
    </script>

    {{!-- {{>footer}} --}}
</body>

</html>